{% extends 'base.html' %}
{% block page_title %}
    HOME
{% endblock page_title%}

{% block content %}

    {{now}}

    {% for room in rooms %}
        <h3>
            <a href="{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.price}}
            </a>
        </h3>
    {% endfor %}

    {% comment %} django template에서 함수 호출방법
                page.has_next 자동으로 함수호출 .has_next() X  
    {% endcomment %}
    <h5>
    {% if page_obj.has_previous %} 
        <a href="?page={{page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number }}">Next</a>
    {% endif %}

    </h5>
{% endblock content %}